# Python cache files
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/raw/
data/processed/

# Results and intermediate files
results/
final_pipeline/work/

.env
docker-compose.override.yml
